<head>
  <title>short-link</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet">
</head>
 
<body>
  <div id="app"></div>
</body>