* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    // font-family: 'Thasadith', sans-serif;
    font-family: Ubuntu;
    font-size: $baseFont;
}

h1 {
    font-weight: 300;
    margin-bottom: $space;
}

h3 {
    color: $grey-darker-2;
    font-size: $large-font-size;
    margin-bottom: $space;
}

p {
    margin-bottom: $space;
}

a {
    color: black;
    text-decoration: none;

    &::after {
        text-decoration: none;
    }
}

input[type=text], input[type=email], input[type=password] {
    border: 1px solid $input-border;
    font-size: $baseFont;
    padding: 1.4rem;
    margin-bottom: $space;
}