// COLORS
$grey: #dddddd;
$grey-darker-1: #777777;
$grey-darker-2: #555555;
$green: #4fa77a;
$white: white;
$light-grey: #f5f5f5;

// SPACING
$space: 1.4rem;
$header-space: 1.8rem;
$site-max-width: 90rem;
$space-right-left: 2rem;

// FONT SIZES
$baseFont: 1.4rem;
$button-link-font-size: 1.2rem;
$large-font-size: 1.8rem;

// INPUT-BORDER
$input-border: $grey;
$input-spacing: 1rem;

// COLORS
$color-background: $grey;
$boxed-view-background: $white;

// BUTTONS
$button-bg: $green;
$button-color: $white;
$button-pill-color: $green;
$button-secondary-bg-color: $light-grey;
$button-secondary-txt-color: $grey-darker-1;
$button-secondary-border-color: $grey;

// ITEM
$item-bg: $light-grey;
$item-border: darken($light-grey, 7%);
