.header {
    background: $green;
    color: $white;


    &__content {
        display: flex;
        justify-content: space-between;
        max-width: $site-max-width;
        margin: 0 auto;
        padding: $header-space;
    }

    &-title {
        margin: 0;
    }

    &-link {
        background: none;
        border: 1px solid $white;
        cursor: pointer;
        color: $white;
        font-size: $button-link-font-size;
        padding: $input-spacing $space-right-left;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .4s;


        &:hover, &::after {
            color: $green;
            background: $white;
        }

    }
}



