.item {
  background: $item-bg;
  border-radius: 3px;
  margin-bottom: $space;
  padding: $space;
  width: auto;
}

.item__message {
  color: $grey-darker-1;
}

.item__not-found {
  text-align: center;
  color: $grey-darker-1;
  font-style: italic;
  margin: 0;
}
